<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="SourceFile" value="[absolute path to users json file]" />
    <add key="DestinationFolder" value="[absolute path to folder to dump individual users json files]" />
  </appSettings>
</configuration>